.entryList {
	grid-column: 2;
	border: solid;
	border-radius: 7px;
	border-width: 1px;

	border-color: rgb(132 180 239);
}

.entry {
	display: grid;
	grid-template-columns: 1fr 70px;
	border-radius: 2px;
	font-size: 16px;
	background-color: rgb(186, 172, 249);
	margin: 30px;
	padding: 9px;
}

.removeButton {
	border: none;
	border-radius: 7px;
}

.entryListContainer {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	margin-top: 2pc;
}